main {
  display: grid;
  justify-content: center;
}

nav {
  display: flex;
  justify-content: space-evenly;
}

p {
  border: black solid 1px;
  outline: none;
  width: 500px;
  height: 400px;
  border-radius: 12px;
}

article {
  height: fit-content;
  width: fit-content;
  padding: 8px;
}

.bold {
  font-weight: bold;
}

.invert {
  background-color: black;
  color: white;
  caret-color: white;
}

.save {
  justify-self: center;
  padding-inline: 2rem;
  padding-block: 1rem;
  background-color: blue;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 2rem;
  font-size: 1.4rem;
  transition-duration: 250ms;
}

.save:hover {
  background-color: darkblue;
}
